{% extends 'base.html.twig' %}

{% block body %}
    <div class="container container-index">
        <p class="text-uppercase heading">
            Software Entwicklung für
            <p class="text-uppercase fade-2">Web</p>
            <p class="text-uppercase fade-1" style="display: none">Android</p>
            <p class="text-uppercase fade-0" style="display: none">iOS</p>
        </p>
    </div>

{% endblock %}
