{% extends 'base.html.twig' %}

{% block body %}
    <div class="container container-inprint">
        <article>
            <header>
                <h1 style="text-align: left">Impressum</h1>
            </header>
            <br><br><br>
            <div class="entry-content clearfix">
                <p>
                    Enki D.O.O.<br>
                    Lusnica 34<br>
                    75350 Srebrenik<br>
                    Bosnien-Herzegowina
                </p><br><br>
                <h3>Kontakt</h3>
                <table>
                    <tbody>
                        <tr>
                            <td width="60">Mobil:</td>
                            <td>+387(0)62/396551</td>
                        </tr>
                        <tr>
                            <td>E-Mail:</td>
                            <td>office@enkidoo.de</td>
                        </tr>
                    </tbody>
                </table><br><br>
                <h3>Umsatzsteuer-ID</h3>
                <p>Umsatzsteuerfrei bei Außenhandel</p><br><br>
                <h3>Verantwortlich für den Inhalt</h3>
                <p>
                    Joldic Hasan<br>
                    Lusnica 34<br>
                    75350 Srebrenik<br>
                    Bosnien-Herzegowina
                </p>
            </div>
        </article>
    </div>


{% endblock %}
