.container {
    margin-bottom: 100px;
}
@media (min-width: 992px) {
    .container-index {
        width: 40%;
    }
    .profile-page {
        margin-top: 10%;
    }
}

h1 {
    text-align: center;
}

.profile-card {
    text-align: center;
    padding-bottom: 15px;
    border-bottom: solid lightgrey 2px;
}
.profile-card img {
    width: 200px;
}
.progress {
    position: relative;
    margin-bottom: 2px;
    height: 20px;
}

.progress-bar {
    height: 100%;
}

.progress span.progress-percent {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
    text-align: right;
    padding-right: 10px;
}

.progress span.progress-text {
    position: absolute;
    display: block;
    width: 40%;
    text-align: left;
    padding-left: 10px;
}
.skills-heading {
    text-align: center;
}

.fixed-bottom {
    text-align: center;
}

button {
    color: white;
}

.project {
    margin-top: 50px;
    border: solid lightgrey 4px;
    border-radius: 5px;
    padding: 10px;
}

.project-image {
    border-top: solid lightgrey 2px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.project img {
    min-height: 100%;
    width: 100%;
    border: solid lightgrey 2px;
    border-radius: 3px;
}

.project p {
    margin-top: 30px;
}

a.btn {
    color: white;

}

body {
    font-family: 'Open Sans', sans-serif;
}