.main-content {
    padding-bottom: 35px;
}

.container {
    padding: 5px;
}

.container-index {
    margin-top: 15%;
    text-align: center;
    font-family: "Open Sans";
    font-weight: 700;
    font-style: normal;
    font-size: 30px;
    line-height: 40px;
    letter-spacing: 0px;
}

.container-index p{
    color: white;
}

.container-index p.heading{
    color: black;
}

.container-contact {
    background: white;
}

.container-project {
    background: white;
}

.container-inprint {
    background: white;
}

@media (min-width: 992px) {
    .container-index {
        width: 40%;
    }
    .container-contact {
        margin-top: 5%;
        padding: 40px 10px;
        border-radius: 5px;
    }

    .container-project {
        padding: 10px;
        border-radius: 5px;
    }

    .container-inprint {
        padding: 10px;
        border-radius: 5px;
    }

    .profile-page {
        margin-top: 10%;
    }
}

h1 {
    text-align: center;
}

.profile-card {
    text-align: center;
    padding-bottom: 15px;
    border-bottom: solid lightgrey 2px;
}
.profile-card img {
    width: 200px;
}
.progress {
    position: relative;
    margin-bottom: 2px;
    height: 20px;
}

.progress-bar {
    height: 100%;
}

.progress span.progress-percent {
    position: absolute;
    display: block;
    width: 100%;
    color: black;
    text-align: right;
    padding-right: 10px;
}

.progress span.progress-text {
    position: absolute;
    display: block;
    width: 40%;
    text-align: left;
    padding-left: 10px;
}
.skills-heading {
    text-align: center;
}

.fixed-bottom {
    text-align: center;
}

button {
    color: white;
}

.project {
    margin-top: 50px;
    border: solid lightgrey 4px;
    border-radius: 5px;
    padding: 10px;
}

.project-image {
    border-top: solid lightgrey 2px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.project img {
    min-height: 100%;
    width: 100%;
    border: solid lightgrey 2px;
    border-radius: 3px;
}

.project p {
    margin-top: 30px;
}

a.btn {
    color: white;

}

body {
    font-family: 'Open Sans', sans-serif;
}

/*!
 * Start Bootstrap - Business Casual (https://startbootstrap.com/template-overviews/business-casual)
 * Copyright 2013-2017 Start Bootstrap
 * Licensed under MIT (https://github.com/BlackrockDigital/startbootstrap-business-casual/blob/master/LICENSE)
 */



body {
    background: url('/static/images/background.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}

h1 {
    font-size: 4rem;
}

.tagline-upper {
    font-size: 5rem;
    font-weight: 700;
    line-height: 1;
}

.tagline-lower {
    font-size: 1.2rem;
    line-height: 1;
}

.text-expanded {
    letter-spacing: 2px;
}

.text-lg {
    font-size: 1.25rem;
}

hr.divider {
    border-color: #292b2c;
    max-width: 250px;
}

.map-container iframe {
    pointer-events: none;
}

.map-container iframe.clicked {
    pointer-events: auto;
}

.active {
    border-bottom: solid white 4px;
}


body {
    min-height: 100vh;
}

.navigation {
    background: transparent;
}

.navigation.fixed-bottom {
    background: white;
    color: black;
}

.bg-faded a {
    color: black;
}

.text-muted {
    color: white;
}

.navbar-light .navbar-nav .nav-link {
    color: white;
}

.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link {
    color: white;
}


/* make navbar stretch whole width */
.navbar-collapse {
    flex-basis: auto;
}